@import "~bootstrap/scss/bootstrap";
@import "./calendar";
@import "./radio_button";

.big-text-area{
    height: 30em;
}

.vertical-middle{
    vertical-align: middle;
}

.journal-cb-group-box{
    margin-right: 12px;
    width:23%;
}