
$CalendarRemReference: 6rem;

.calendar a {
	text-decoration: none;
}

.calendar-table {
	border-collapse: collapse;
	border-spacing: 0;
}

.calendar {
	text-align: center;
}

.calendar header {
	position: relative;
	margin-bottom: 2rem;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
	background-color: $dark-400;
	color: $white;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid $dark-1000;
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	font-size: 18px;
	height: $CalendarRemReference;
	line-height: $CalendarRemReference;
	text-align: center;
	width: $CalendarRemReference;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: $dark-400;
	color: #f9f9f9;
}

.current-day a{
	text-decoration: none;
	color: $white;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: $dark-400;
	border-radius: 50%;
	bottom: .5em;
	display: block;
	content: '';
	height: .5em;
	left: 50%;
	margin: -.25em 0 0 -.25em;
	position: absolute;
	width: .5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid $dark-400;
	border-radius: 50%;
	color: $dark-1000;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: $dark-400;
	color: $white;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}

.weekend-day{
	background-color: $dark-100;
	border-radius: 0% !important;
	color: $white !important;
}