// modified from https://codepen.io/skeddles/pen/PbROLK

$bg: $primary;
$fg: lighten($bg,20%);
$borderWidth: 1px;

.horizontal-radio-button{
  position: absolute;
  visibility: hidden;
  display: none;
}

.horizontal-radio-button-label {
  color: $primary;
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
}

.horizontal-radio-button:checked + .horizontal-radio-button-label{
  color: $white;
  background: $primary;
}

.horizontal-radio-group {
  border: solid $borderWidth $primary;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 12px;
}