<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-center">
<div class="calendar-container d-flex justify-content-center">
  <div class="calendar">

    <header>
      <!-- Month name -->
      <h2><%= @today.strftime("%B").capitalize %></h2>

      <a class="btn-prev fa-solid fa-angle-left" href="#"></a>
      <a class="btn-next fa-solid fa-angle-right" href="#"></a>

    </header>

    <table class="calendar-table">

      <thead>

        <tr>

          <td>Mo</td>
          <td>Tu</td>
          <td>We</td>
          <td>Th</td>
          <td>Fr</td>
          <td>Sa</td>
          <td>Su</td>

        </tr>

      </thead>

      <tbody>

        <% @month_days.each do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= render 'calendar_day', day: day %>
            <% end %>
          </tr>
        <% end %>

      </tbody>

    </table>

  </div> <!-- end calendar -->

</div> <!-- end container -->
</div>