<h1>Editing Daily</h1>

<%= render 'form', ticket_dailies: @daily %>

<br>
<div class="row">
    <div class="col-6 d-grid gap-2">
        <%= link_to 'Detalhes', ticket_daily_url(@ticket, @daily), class: "btn btn-primary" %> 
    </div>
    <div class="col-6 d-grid gap-2">
        <%= link_to 'Voltar', ticket_dailies_path(@ticket), class: "btn btn-primary" %>
    </div>
</div>
